body {
	font-size: 18px;
	background-color: black;
	color: white;
}

html, body, h1, h2, h4, h5, h6 {
	font-family: "Poiret One", Helvetica, sans-serif;
}

h1       			  
{
	font-size: 4rem;
	z-index: 1;
	text-align: center;
}
h2{
	font-size: 2.5rem;
	text-align: center;
}
h4 {
	margin: 3rem;
	font-size: 2rem;
}

h5 {
	margin: 1rem;
	font-size: 1rem;
}

h6 {
	font-size: 0.66rem;
	text-align: center;
}

p {
	font-size: 1rem;
	text-align: center;
}

.sticky-topbar {
	width: 100%;
  }

.title_section{
	margin-top: 1rem;
	margin-bottom: 10rem;
}
.contact {
	font-size: 1.3748rem;
	text-align: center;
}

.section_heading{
	text-align: center;
}

.boxed{
	background-color: black;
	border-color: white;
	border-style: solid;
  	border-width: 5px;
}

.section{
	margin-bottom: 5rem;
}
/*.callout.section_heading{
	background-color: rgb(143, 143, 143);
	color: rgb(0, 0, 0);
}*/

/*.callout.title_section{
	background-color: rgb(127, 134, 146);
	color: rgb(0, 0, 0);
}*/

.imt{
	font-size: 1.5rem;
	text-align: center;
	color: white;
	margin-top: 3.5rem;
}

.imtpub{
	font-size: 1.5rem;
	text-align: center;
	color: white;
	margin-top: 3.5rem;
}

.portfolio_item{
	height: 30rem;
}

.portfolio_image {
	height: 15rem;
}

.callout.item{
	background-color: black;
	border-color: white;
	border-style: solid;
  	border-width: 0px;
}

.debug{
	background-color: green;
}

.media {
	background-size: cover;
	background-position: center center;
}

.images_3dMeter {
	background: url("images/meter3d.png") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_synthShips {
	background: url("images/synthShips.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_sketches {
	background: url("images/sketches.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_signature {
	background: url("images/signature.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_feature-extractor {
	background: url("images/feature-extractor.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_mass_spring_system {
	background: url("images/MassSpringLarge.png") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_roundhouse{
	background: url("images/roundhouse.png") no-repeat;
	background-size: cover;
	background-position: center center;	
}
.images_adc{
	background: url("images/adc.png") no-repeat;
	background-size: cover;
	background-position: center center;	
}

.publication_image{
	border: 5px solid black;
	height: 40vh;
}
.images_icmc2014{
	background: url("images/icmc2014.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_eva2016{
	background: url("images/eva2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_nime2016{
	background: url("images/nime2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_cmj2018{
	background: url("images/cmj2018.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_thesis2016{
	background: url("images/thesis2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_lmj2018{
	background: url("images/lmj2018.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}


