body {
	font-size: 18px;
	background-color: black;
	color: white;
}

html, body, h1, h2, h4, h5, h6 {
	font-family: "Poiret One", Helvetica, sans-serif;
}

h1       			  
{
	height: 2em;
	font-size: 4em;
	margin-top: 1em;
	z-index: 1;
	text-align: center;
}
h2{
	height: 2em;
	font-size: 3em;
	text-align: center;
}
h4 {
	margin: 3em;
	font-size: 2em;
}

h5 {
	margin: 1em;
	font-size: 1em;
}

h6 {
	font-size: 0.66em;
	text-align: center;
}

p {
	font-size: 1em;
	text-align: center;
}

.section_heading{
	margin-top: 8em;
	margin-bottom: 20em;
}

.row {
	margin-top: 10em;
}

.debug{
	background-color: green;
}

.image_margin {
	height: 40vh;
}

.portfolio_image {
	border: 5px solid white;
	height: 40vh;
}

.media {
	background-size: cover;
	background-position: center center;
}

.images_3dMeter {
	background: url("images/meter3d.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_synthShips {
	background: url("images/synthShips.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_sketches {
	background: url("images/sketches.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_signature {
	background: url("images/signature.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_feature-extractor {
	background: url("images/feature-extractor.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_mass_spring_system {
	background: url("images/MassSpringLarge.png") no-repeat;
	background-size: cover;
	background-position: center center;
}

.images_roundhouse{
	background: url("images/roundhouse.png") no-repeat;
	background-size: cover;
	background-position: center center;	
}
.images_adc{
	background: url("images/adc.png") no-repeat;
	background-size: cover;
	background-position: center center;	
}

.publication_image{
	border: 5px solid black;
	height: 40vh;
}
.images_icmc2014{
	background: url("images/icmc2014.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_eva2016{
	background: url("images/eva2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_nime2016{
	background: url("images/nime2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_cmj2018{
	background: url("images/cmj2018.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}
.images_thesis2016{
	background: url("images/thesis2016.PNG") no-repeat;
	background-size: cover;
	background-position: center center;
}


